<app-header></app-header>
<div class="wrapper">
  <aside class="diapositiva">
    <h4>Preguntas afegides</h4>
    <div>
      <div *ngFor="let quiz of quizs">
        <div class="mini-diapositiva" (click)="itemQuestion(quiz)">
          <span>{{quiz.question}}</span>
        </div>
      </div>
    </div>
  </aside>
  <main class="content">
    <app-form (sendForm)="onSubmit($event)"></app-form>
  </main>
  <aside class="info">
    <h4 class="title">Informació del usuari</h4>
    <mat-list>
      <mat-list-item >
        <mat-icon mat-list-icon>account_circle</mat-icon>
        <div mat-line>{{user.displayName}}</div>
      </mat-list-item>
    </mat-list>
  </aside>

</div>
