.wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  justify-content: space-around;
  column-gap: 10px;
  margin-top: 3rem;
  // align-items: center;
}
.content {
  background-color: aliceblue;
}
.diapositiva {
  border-right: 1px solid #000;
}
.info {
  border-left: 1px solid #000;
}
.form {

  .quiz {
    mat-form-field.mat-form-field{
      width: 100%;
    }
  }
  .zonedrop {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    height: 400px;
    margin-bottom: 2rem;
    .file-upload {
      max-width: 90%;
      max-height: 70%;
    }
  }
  .group-response {
    border: 1px solid #000;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    // justify-content: space-around;
    .group-control {
      display: flex;
      justify-content: space-around;
      align-items: center;
      .radio-button{
        min-width: 2em;
        min-height: 2em;
      }
    }
  }
  .footer {
    button {
      font-size: 2rem;
      color: rgba(104, 58, 183,);
      margin-top: 2rem;
      width: 100%;
      height: 4rem;
    }
  }
}
