.wrapper {
  height: 100vh;
  max-width: 80vw; 
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  .bg-image {
    max-width: 50vw;
    img {
      max-width: 50vw;
    }
  }
  .login {
    flex-grow: 1;
    max-width: 100%;
    margin-left: 2rem;
    h1 {
      font-size: 4em;
    }
    .form-group {
      mat-form-field.mat-form-field {
        width: 100%;
        mat-label > span {
          color: red;
        }
      }
    }
    .btn-group{
      .btn-register {
        font-size: 1.5rem;
        min-width: 100%;
        min-height: 2em;
      }
    }
  }
}
