.wrapper {
  height: 90vh;
  width: 70vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  b
  .bg-image {
    img {
      margin-right: 2rem;
    }
    // border-right: 1px solid #ccc;
  }

  .box-login {
    h1 {
      font-size: 4em;
    }
    .btn-group {
      .btn-login {
        margin-right: 2rem;
      }
    }
    .box-forget {
      margin-top: 2rem;
    }
    .box-google {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: center;
      box-shadow: 5px 5px 5px #ccc;
      border-radius: 5px 5px 5px;
      margin-top: 2rem;
      cursor: pointer;
      p {
        margin-top: .4em;
        font-size: 1.5em;
      }
    }
  }
}
