<div class="wrapper">
  <img class="mt-5" src="../../../assets/image/svg/login.svg" alt="login">
  <div>
    <form action="">
      <div class="mb-3">
        <input type="email" name="email" id="email" placeholder="Correo">
      </div>
      <div>
        <input class="mb-3" type="password" name="psw" id="psw" placeholder="Contraseña">
      </div>
      <div>
        <input class="btn btn-outline-success" type="submit" [routerLink]="['/home']" routerLinkActive="router-link-active"  value="Login">
      </div>
    </form>
  </div>
</div>
