<div class="wrapper">
  <div class="bg-image">
    <img src="../../../assets/images/login.svg" alt="">
  </div>
  <div class="box-login">
    <h1>Inicia Sessió</h1>
    <form [formGroup]="formLogin" class="from-login" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <mat-form-field appearance="standard">
          <mat-label>Correo electrónic
            <span class="required">*</span>
          </mat-label>
          <input type="email" matInput name="email" formControlName="email" placeholder="fulanito@gmail.com">
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="input" appearance="standard">
          <mat-label>Contrasenya <span class="required">*</span></mat-label>
          <input type="password" matInput placeholder="123456" name="psw" formControlName="psw">
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
      </div>
      <div class="btn-group">
        <button class="btn-login" mat-raised-button color="primary">Inicia sessió</button>
      </div>
    </form>
    <button (click)="register()" class="btn-register" mat-raised-button color="primary">Registrat a la nostra
      plataforma</button>
    <div class="box-forget">
      <p>¿Has oblidat la conrasenya?</p>
    </div>
    <div class="box-google" (click)="signInWithGoogle()">
      <div>
        <img src="../../../assets/images/google.svg" alt="">
      </div>
      <div>
        <p>Inicia sessió amb google</p>
      </div>
    </div>
  </div>
</div>
